*{
    --main-color: rgb(27,27,50);
        --main-color-op: rgba(27,27,50, .8);
    --sec-color: rgb(2,31,59);
        --sec-color-op: rgba(2,31,59, 0.5);
    --font-color: rgb(216, 225, 233);
    --heading-color: rgb(142, 176, 210);

    --font-body: Verdana;
    --fancy-font: "Madimi One", sans-serif;
    --font-heading: "Lato";
}
h1{
    
}
#tMainContainer{
    height: 100vh;
    
}

.tInfoRow{
    height: 100px;
}

.tInfoContent{
    
    position: relative;
    padding-bottom: 1px;
    font-size: 2vh;

    vertical-align: middle;

    cursor: pointer;
    font-family: var(--fancy-font);
    color: var(--heading-color);
    float:right;
    width: 70%;
}

.tInfoArrow{
    text-align: right;
    
    position: relative;
    float:left;
    cursor: pointer;
    
    
    height: 100%;
    font-size: 2vh;
    padding-left: 0.1vw;
    width: 30%;
    font-family: var(--fancy-font);
    color: var(--heading-color);
}

.tInfoRow:hover .tInfoArrow{
    animation: arrow 1.5s linear infinite alternate;
}

.tTextInfoRow{
    
}

@keyframes arrow{
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(-10%, 0%);

    }
}
.credits{
    float: right;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 0.8vw;
    font-weight: 800;
    align-self: baseline;
    font-family: 'Courier New', Courier, monospace;
}

.tSlideMain{
    display:none;
    font-family: var(--font-body);
}
.mSS{ /*mathSymbolStyle*/
    font-weight: 600;
    font-style:italic
}

img{
    width: 3vw;
}
.treeContainer{
    outline: 1px black solid;
    width: auto;
}