*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana;

    --main-color: rgb(27,27,50);
        --main-color-op: rgba(27,27,50, .4);
    --sec-color: rgb(2,31,59);
        --sec-color-op: rgba(2,31,59, 0.3);
    --font-color: rgb(216, 225, 233);
    --heading-color: rgb(142, 176, 210);

    --font-body: Verdana;
    --fancy-font: "Madimi One", sans-serif;
    --font-heading: "Lato"; /* tak, font sie tak nazywa */
}
body{
    height: 100vh;
    font-family: var(--font-body);
}
main{
    /* background-color: rgb(75, 8, 8); */ 
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/background-3.jpeg"); /* spoko zmieni sie */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .tile-container{
    display: grid; /* widzisz, tu jest grid, zobacz jak dziala, pobaw sie troche xd */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
}
    main .tile-container a{
        color: white;
    }
main .tile-container .tile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 1rem;
    width: 17.5rem;
    height: 17.5rem;
    border-radius: .5rem;
    font-style: italic;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/* @keyframes moving-tile{
    from{
        transform: translateY(0rem);
    }
    to 50%, 100%,
    50%{
        transform: translateY(.25rem);
    }
   100%{
        transform: translateY(-.5rem);
    }
} 

jak co, to jest skomentowane bo nie wiem 
co bedzie lepsze, czy z tym czy bez

main .tile-container .tile:hover{
    border: 1px solid white;
    animation-name: moving-tile;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    transition: 500ms;
}

*/

main .tile-container .tile:hover{
    border: 1px solid white;
}

    main .tile-container .tile h1{
        width: fit-content;
        position: relative;
        font-size: 2rem;
    }
    main .tile-container .tile h1::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: white;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
        transform-origin: right;
    }
    main .tile-container .tile:hover h1::after{
       
        transform: scaleX(1);
        transition: transform 100ms ease-in-out;
        transform-origin: left;
    }

        .span{
            font-family: 'Times New Roman';
            font-size: 130%;
            font-style: normal;
        }
    main .tile-container .tile p{
        color: white;
        transition: 300ms;
        margin-top: 2rem;
    }
    main .tile-container .tile p:hover{
        color: snow;
        transition: 200ms;
        text-shadow: 0px 0px 10px snow;
    }
    