*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana;

    --main-color: rgb(27,27,50);
        --main-color-op: rgba(27,27,50, .8);
    --sec-color: rgb(2,31,59);
        --sec-color-op: rgba(2,31,59, 0.5);
    --font-color: rgb(216, 225, 233);
    --heading-color: rgb(142, 176, 210);

    --font-body: Verdana;
    --fancy-font: "Madimi One", sans-serif;
    --font-heading: "Lato"; /* tak, font sie tak nazywa */
    /*rechłem śmiechem -K*/
}

main{
    background: url("img/Tło.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: var(--font-color);
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}
@keyframes bg-animation{
    0%   {top:0px;}
    25%  {top:20px;}
    50%  {top:30px;}
    75%  {top:20px;}
    100% {top:0px;}
}
.bg-main{
    background:  url("img/Yeees.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;


    animation-name: bg-animation;
    animation-duration: 5500ms;
    animation-timing-function: steps(5, end);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.bg-main-shadow{
    background:  linear-gradient(var(--main-color-op), var(--main-color-op));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.animation-container{
    position: relative;
    height: 95vh;
    width: 35vw;
    margin: 1rem;
    padding-block: 1rem;
    background-color: var(--sec-color-op);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    z-index: 2;
}
    .part-1, .part-2, .part-3, .part-4, .part-5, .part-6, .part-7{
        width: 100%;
        height: 1rem;
        margin:1rem;
        display: flex;
        justify-content: center;
        align-items:center;
        opacity: 60%;
    }
    .animate-ended{
        position: absolute;
        display: none;
        bottom: 5.5rem;
        left: 2rem;
        opacity: 60%;
        font-size: 1.5rem;
        font-style: italic;
    }
    .animate-ended a{
        color: var(--heading-color);
    }
    .animate-ended a:hover{
        color: green;
        text-decoration: underline;
    }

        .animate-pt1, .animate-pt2, .animate-pt3, .animate-pt4, .animate-pt5, .animate-pt6, .animate-pt7{
            font-size: 1.5rem;
            font-family: var(--fancy-font);
            opacity: 0;
            transition: 1000ms;
        }
        .words{
            margin: 5px;
        }

.info-container{
    position: relative;
    width: 60vw;
    height: 95vh;
    margin: 1rem;
    text-align: center;
    background-color: var(--sec-color-op);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    z-index: 2;
}
    .info-container h1{
        font-family: var(--font-heading);
        font-style: italic;
        
    }
    .info-pi{
        position: relative;
        font-size: 2.5rem;
        cursor: pointer;
        font-style: italic;
        font-family: var(--fancy-font);
        color: var(--heading-color);
        margin: 1rem;
    }
    .info-pi:hover{
        color: rgb(221, 243, 250);
    }

        .info-pi::before{
            position: absolute;
            transform: rotate(-90deg);
            content: '';
            left: -1rem;
            bottom: 1rem;
            margin-left: -15px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid var(--heading-color);
            
        }
        @keyframes arrow{
            0% {left: -1rem}
            50% {left: -2rem}
            100% {left: -1rem}
        }

        .info-pi:hover::before{
            border-top: 15px solid rgb(221, 243, 250);
            animation-name: arrow;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
            animation-direction: alternate-reverse;
        }

    .show-more-1{
        display: none;
        font-size: 1.25rem;
        max-width: 35rem;
        text-align: justify;
    }
    .show-more-2{
        display: none;
        font-size: 1.15rem;
        max-width: 40rem;
        text-align:left;
    }
    .show-more-3{
        display: none;
        font-size: 1.35rem;
        max-width: 35rem;
        text-align: left;
        margin: 0;
        padding: .5rem;
    }
    .show-more-3::marker{
        content: "\21B3";
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .show-more-4{
        display: none;
        font-size: 1.15rem;
        max-width: 35rem;
        text-align: left;
        margin: 0;
        padding: .5rem;
    }
    .show-more-4::marker{
        content: "\21B3";
        font-size: 1.5rem;
        font-weight: bolder;
    }

.history-of-pi,.fun-facts-pi-arrow, .fun-facts-pi, .examples, .examples-arrow{
    display: none;
}

    @keyframes arrow2{
        0% {bottom: 0rem}
        50% {bottom: -1rem}
        100% {bottom: 0rem}
    }
.fun-facts-pi-arrow, .examples-arrow{
    width: 3rem;
    height: 3.2rem;
}

.fun-facts-pi-arrow::before, .examples-arrow::before{
    left: 1.5rem;
    bottom: 0rem;
    rotate: 90deg;
}
.fun-facts-pi-arrow:hover::before, .examples-arrow:hover::before{
    animation-name: arrow2;
}
.credits{
    position: absolute;
    z-index: 200;
    text-align: left;
    left: 0px;
    right: none;
}
.zapraszam{
    position: absolute;
    display: none;
    bottom: 1.5rem;
    right: 1rem;
    font-size: .75rem;
    max-width: 20rem;
    font-style: italic;
}