main{
    background: linear-gradient(var(--main-color), var(--main-color)), url("img/background-3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--font-color);
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.animation-container{
    height: 95vh;
    width: 35vw;
    margin: 1rem;
    background-color: var(--sec-color-op);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position:sticky;
}
    .part-1, .part-2, .part-3, .part-4{
        width: 100%;;
        height: 1rem;
        margin:1rem;
        display: flex;
        justify-content: center;
        align-items:center;
        opacity: 60%;
    }

        .animate-pt1, .animate-pt2, .animate-pt3, .animate-pt4{
            font-size: 1.75rem;
            font-family: var(--fancy-font);
            opacity: 0;
            transition: 500ms;
        }
        .words{
            margin: 5px;
        }

.info-container{
    width: 60vw;
    height: 95vh;
    margin: 1rem;
    text-align: center;
    background-color: var(--sec-color-op);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .info-container h1{
        font-family: var(--font-heading);
        font-style: italic;
        
    }
    .info-pi{
        position: relative;
        font-size: 2.5rem;
        cursor: pointer;
        font-style: italic;
        font-family: var(--fancy-font);
        color: var(--heading-color);
        margin: 1rem;
    }
    .info-pi:hover{
        color: rgb(221, 243, 250);
    }

        .info-pi::before{
            position: absolute;
            transform: rotate(-90deg);
            content: '';
            left: -1rem;
            bottom: 1rem;
            margin-left: -15px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid var(--heading-color);
            
        }
        @keyframes arrow{
            0% {left: -1rem}
            50% {left: -2rem}
            100% {left: -1rem}
        }

        .info-pi:hover::before{
            border-top: 15px solid rgb(221, 243, 250);
            animation-name: arrow;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
            animation-direction: alternate-reverse;
        }

    .show-more-1{
        display: none;
        font-size: 1.25rem;
        max-width: 35rem;
        text-align: justify;
    }
    .show-more-2{
        display: none;
        font-size: 1.15rem;
        max-width: 40rem;
        text-align:left;
    }

.history-of-pi, .fun-facts-pi{
    display: none;
}

    @keyframes arrow2{
        0% {bottom: 0rem}
        50% {bottom: -1rem}
        100% {bottom: 0rem}
    }
.fun-facts-pi{
    width: 3rem;
    height: 3.2rem;
}

.fun-facts-pi::before{
    left: 1.5rem;
    bottom: 0rem;
    rotate: 90deg;
}
.fun-facts-pi:hover::before{
    animation-name: arrow2;
}